.site-footer{
  background: #444444;
  color : #fff;
  padding : 40px 0;
  font-size: 14px;
  // margin-top : 40px;
  .footer-links{
    padding : 0;
    @media (max-width: $screen-sm-min) {
      text-align: center;
    }
    li{
      list-style: none;
      padding-bottom : 5px;
      ul{
        padding : 0;
        li{
          list-style: none;
          display: inline;

          &::after{
            content: '';
            width: 1px;
            height: 11px;
            background: #fff;
            display: inline-block;
            margin-right: 8px;
            margin-left: 8px;
            position: relative;
            bottom: -1px;
          }

          &:last-child{
            &::after{
              content: '';
              width: 0px;
              height: 11px;
              background: #fff;
              display: none;
              margin-right: 0px;
              margin-left: 0px;
              position: relative;
              bottom: -1px;
            }
          }

          a{
            color : #fff;
            text-decoration: none;

            &:hover{
              color : $brand-primary;
            }
          }
        }
      }
    }
  }
  .footer-banner{
    @media (max-width: $screen-sm-min) {
      text-align: center;
    }
    .footer-banner-img{
      img{
        margin-right : 10px;
        @media (max-width: $screen-sm-min) {
          margin-right : 10px;
          margin-bottom : 10px;
        }
      }

    }
  }


  // to do add styles for footer images
}
