.page-template-page-home{
 
  .images_map_bldg{
    padding : 20px 0;
    // & > div{
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    // }
    .col{
      padding-right: 30px;
      padding-left: 30px;
    }
    .image_wrap_hover{
      position: relative;
      margin-bottom: 30px;
      img{
        width : 100%;
      }
      div{
        position: absolute;
        bottom: 0;
        background : rgba(255,255,255,.7);
        width: 100%;
        padding: 20px;
      }
    }
    .lead-text{
      font-size: $font-size-base + 2;
      margin: 0;
      font-weight: 400;
      font-family: $font-family-arvo;
    }
  }

  .featured_image{
    margin-bottom : 80px;
    @media (max-width: $screen-md-min) {
      margin-bottom : 40px;
    }
    @media (max-width: $screen-sm-min) {
      margin-bottom : 20px;
    }
  }

  h2{
    font-size: 30px;
  }
}


// about
.home-child{
  display: flex;
  align-items: center;
  justify-content: center;
  padding : 40px 0;

  .child-btn{
    margin-top: 30px;
    // text-align: center;

    .btn{
      padding: 20px 80px;
      font-family: $font-family-arvo;
    }
  }
}
