.entry-content{
	.resource-content{

		ul{
			font-size: 12px;
			padding: 0;
			li{
				padding: 0;
				list-style: none;
				display: inline-block;
				&:after{
					content: '|';
					padding : 5px;
				}
				&:last-child{
					&:after{
						content: '';
						padding : 0px;
					}
				}
			}
		}
		p{
			margin-bottom: 0;
		}
	}

}
