
.site-header{
  padding-top: 20px;
  .navbar-collapse{
  }


  & > div{
    display: flex;

    .flex-center{
      display: flex;
      justify-content: flex-end;
      align-items: center;

        .collapse{

          .menu-menu-1-container

          .navbar-right{
            letter-spacing: 1px;
          }
        }

    }


  }
}
