
.site-header{
  padding-top: 20px;
  .navbar-collapse{
  }

  .navbar-header{
  }
  & > div{
    display: flex;

    .flex-center{
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}
