.header_wrap{
  border-bottom : 1px solid $gray-light;
  .site-header{
    padding-top: 20px;
    padding-bottom: 20px;
    .navbar-collapse{
    }


    & > div{
      display: flex;

      .flex-center{
        display: flex;
        justify-content: baseline;
        align-items: center;
        @media (max-width: $screen-sm-min) {
          justify-content: flex-end;
        }

          .collapse{
            .navbar-right{
              letter-spacing: 1px;

              a{
                &:hover{
                  color: $brand-primary;
                }
              }
            }
          }

      }


    }
  }
}
