.entry-content{
	.tab-content{
		.for-link{
			padding: 0px;


			h3{
				color: $gray-dark;
			}
			.content-links{
				list-style: none;
   				padding: 0px;
   				line-height: 40px;
    			font-size: 15px;
			}
		}
	}
}