.navbar-nav{
  li{
    a{
      padding : 0 10px;
      &:hover{
        background: transparent;
      }
    }
    border-right : 1px solid $brand-primary;

    &:last-child{
      border-right : 0px;
    }
    &.current_page_item{
      a{
        color : $gray;
      }
    }
  }
}
