.navbar-nav{
  li{

    a{
      padding : 0 10px;
      font-family: $font-family-arvo;
      font-size: 15px;
      color : #5da0e5;
      &:hover{
        background: transparent;
      }
      @media (max-width: $screen-sm-min) {
        padding : 10px;
        &:hover{
          background: $brand-primary;
        }
      }
    }
    border-right : 1px solid $brand-primary;
    @media (max-width: $screen-sm-min) {
      border-right : 0;
      border-bottom : 1px solid $brand-primary;
      // background: $brand-primary;
    }

    &:last-child{
      border-right : 0px;
    }
    &.current_page_item{
      a{
        color : $gray;
      }
    }
  }
}
