.news_listing{

	.container{
		padding-left: 0px;

		.add_space{

			.news-img{
				img{
					width: 200px;
					height: 200px;
				}
			}

			.news-info{
				.bold{
					font-weight: bold;
				}
			}
		}
	}
}