.page-template-page-organization{
	$spacing_organisation : 15px;
	.organisation-content{
		h1{
			background: $brand-primary;
			color : #fff;
			padding: $spacing_organisation;
			display: inline-block;
			margin-bottom : $spacing_organisation * 2;
		}
		margin-top: -250px;

		img{
			margin-bottom : 20px;
		}
		.bg-white{
			padding: $spacing_organisation;
					img{
						    width: 350px;
					}
			}

		p{
			 @extend .bullet_cap;
			 span{
			 	 position: static;
			 }
		}

		.fa{
			color: $brand-primary;
		}

		.bold{
			font-weight: bold;
		}

		.spacing{
			padding-bottom: 15px;
		}

		.list{
			list-style: none;
			padding: 0px;
			margin-right: 14px;
		}

		.org-content{
			padding : $spacing_organisation;
		}

		.organisation-image{
			margin-top : $spacing_organisation * 3;
			background: #fff;
			padding : 5px;
		}
	}

	.org-slider-wrap{
		padding : 30px 0;
		h2{
			color : $gray;
		}
	}
}
