.search_block{
  background: #444;
  display: flex;
  justify-content: center;
  width: 600px;
  margin: 0 auto;
  position: relative;
  flex-direction: column;
  padding: 20px 40px;
  text-align: center;
  h2{
    color: #fff;
  }
  p{
    a{
      color : #fff;
      font-style: italic;
      text-decoration: underline;
    }
  }
  button{
    width : 100%;
    border-radius: 0;
  }
  input, select{
    border-radius: 0;
    -webkit-appearance: none !important;
  }


}

.home-feat-wrap{
  position: relative;
  .search_block{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top:43%;
  }
}

$spacer : 30px;

.search-form{
  .controls{
    .btn-primary{
      padding : 10px 60px;
    }
  }
  label{
    font-weight: 200;
  }
  h3{
    color: $gray-dark;
    font-weight: 200;
    margin : $spacer 0 15px;
  }

  .block_space{
    padding-bottom: $spacer;
  }

  .advance-search{
    padding : 20px 0;
    a{
      position: relative;
      text-decoration: none;
      // Arrow
      .filter-caret{
        position: relative;
        display: inline-block;
        padding: 10px;
        margin-left:10px;
        &:after {
          border-bottom: 2px solid $brand-primary;
          border-right: 2px solid $brand-primary;
          content: '';
          display: block;
          height: 10px;
          margin-top: -2px;
          pointer-events: none;
          position: absolute;
          // right: -22px;
          left: 0px;
          top: 44%;
          transform-origin: 66% 66%;
          transform: rotate(45deg);
          transition: all 0.15s ease-in-out;
          width: 10px;
        }
        &.open{
          &:after {
            transform: rotate(-135deg);
          }
        }
      }

    }
  }
}

.results{
  h3{
    color : $gray-dark;
  }
  ul{
    margin: 0;
    padding: 0;
    li{
      list-style: none;
      margin-bottom : 10px;
      a {
        @extend .bullet_cap;
      }
    }
  }
}
