.content-area{
	
	.site-main{
		.collection-content{
				    
			.row{
				.cap{
				text-align: right;
		    	float: right;
		   	    right: 40px;
		    	padding: 0px;
		    	padding-top: 37px;
			}
			}
		}
		.container{
			.row{
				.infos{
					padding: 0px;
					p{
						text-align: justify;
					}
				}

				.collection-image{
					right: 40px;
    				text-align: right;
				}
			}
		}
	}

}