.news-child{
	padding-left: 15px;
}


blockquote{
	padding-left: 0px;
}



.ordered { counter-reset: item; }
        .ordered li { display: block; }
        .ordered li:before {
            content: counter(item) ". ";
            counter-increment: item;
            color: #3575bb;
        }

.ordered{
	padding-left: 0px !important;
}


.events-list {
 
  list-style: none;
  margin: 0;
  padding-left: 0px !important;
  position: relative;
  right: 5px;
	
	li {
	  padding-left: 1em; 
	  text-indent: -.7em;
	}

	li::before {
	  content: "• ";
	  color: #3575bb; 
	  font-size: 20px;
	  font-weight: bold;

	}
}